<section class="container">
    <h1>Sobre Nós</h1>
    <p class="first-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam commodi facere accusamus officiis iusto sapiente maxime odio sunt cupiditate, repudiandae vitae est doloribus! Reiciendis ducimus quas dolorem, aliquam sunt totam optio amet ea, architecto velit harum a. Ullam id ratione quod, consectetur excepturi dignissimos esse!</p>
    <img src="../../lib/img/pic_one.jpeg" alt="maquina de escrever" />
    <p class="second-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi delectus beatae, nulla nam blanditiis quis ipsum, minus quae quibusdam ipsa reprehenderit sunt earum quia! Quae pariatur delectus harum voluptate. Ratione, inventore cumque. Quaerat, placeat?</p>
    <p class="third-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex praesentium aut quisquam similique alias. Eaque dolores libero ea laudantium fugiat praesentium, totam dignissimos alias dolor quidem iusto animi nam, expedita illo harum? Quidem quas odio ab nisi nobis iure ipsa dignissimos, cupiditate vero exercitationem blanditiis mollitia natus rem id temporibus? Illo fugiat velit iusto hic accusamus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque magni voluptatem iste eius eligendi rem numquam iure est vero esse quaerat sequi dolores deleniti omnis velit cum exercitationem veritatis quam labore inventore, temporibus magnam? Doloribus, magnam exercitationem enim libero itaque explicabo perspiciatis aspernatur.</p>
    <img src="../../lib/img/pic_two.jpeg" alt="desenho segurando um lapis" />
    <p class="forth-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam commodi facere accusamus officiis iusto sapiente maxime odio sunt cupiditate, repudiandae vitae est doloribus! Reiciendis ducimus quas dolorem, aliquam sunt totam optio amet ea, architecto velit harum a. Ullam id ratione quod, consectetur excepturi dignissimos esse!</p>
    <img src="../../lib/img/pic_three.jpeg" alt="mão com uma caneta escrevendo">
</section>

<style scoped>

.container {
    padding: 7.2rem;
}

h1 {
    color: #e47e3a;
    font-size: 5rem;
    font-weight: bolder;
    border-bottom: dotted 3.4rem #6495ed;
    text-decoration: overline #6495ed;
    text-align: right;
    letter-spacing: .6rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
}

p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    opacity: .8;
    padding: 2.3rem;
}

.first-paragraph {
    font-weight: bold;
    color: #e47a3f;
}

.second-paragraph {
    text-align: right;
    font-size: 1.6rem;
    color: #6495ed;
}

.third-paragraph {
    text-align: justify;
    color: #e47a3f;
    font-weight: bold;
}

.forth-paragraph {
    font-size: 1.4rem;
    text-align: right;
    color: #6495ed;
}

img {
    max-width: 720px;
    align-content: center;
    width: 100%;
    border-radius: 2.3rem;
}

</style>