<h1>Gerenciador de Conteudos</h1>

<a href="http://localhost/site%20PHP/app/php/?pagina=admin&metodo=create">Criar Publicação</a>

<table border='2'>
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Alteração</th>
        <th>Deleção</th>
    </tr>

    {% for postagem in postagens %}
        <tr>
            <th>{{postagem.id}}</th>
            <th>{{postagem.titulo}}</th>
            <th><a href="http://localhost/site%20PHP/app/php/?pagina=admin&metodo=change&id={{postagem.id}}">Alterar</a></th>
            <th><a href="http://localhost/site%20PHP/app/php/?pagina=admin&metodo=delete&id={{postagem.id}}">Deleção</a></th>
        </tr>
    {% endfor %}

</table>