<h1>Alterar Publicação</h1>

<form method="post" action="?pagina=admin&metodo=update" class="formulario">
    <input
        class="input-formulario" 
        type="text" 
        name="titulo"
        placeholder="titulo da publicação"
        value="{{titulo}}"
    >

    <br/>

    <textarea
        class="textarea-formulario"
        name="conteudo"
        placeholder="digite o novo texto aqui..."
        cols="100"
        rows="30"  
    >
    {{conteudo}}
    </textarea>

    <br/>

    <input type="hidden" name="id" value="{{id}}"> 

    <br/>

    <input class="submit-formulario" type="submit" value="Alterar">
    
</form>

<!-- STYLING -->

<style scoped>

        h1 {
            text-align: center;
            font-weight: bold;
            padding: .4rem;
            margin: 2.7rem;
            color: #e47e3a;
        }
    
        .container {
            padding: 1.1rem;
            text-align: center;
        }
    
        .formulario {
            background: transparent;
            padding: 1.2rem;
        }
    
        .input-formulario {
            color: #6495ed;
            padding: 1.2rem;
            margin: .7rem;
            border-radius: 0.6rem;
            width: 53.4rem;
        }
    
        .textarea-formulario {
            color: #6495ed;
            padding: 1.2rem;
            border-radius: 0.6rem;
            margin: .7rem;
        }
    
        .submit-formulario {
            color: #6495ed;
            padding: 2.2rem;
            font-size: 1.3em;
            
            text-transform: uppercase;
            background: transparent;
            border-color: #6495ed;
            border-radius: 0.6rem;
            cursor: pointer;
            width: 53.4rem;
            margin: .7rem;
            transition: all .5s ease 0s;
        }
    
        .submit-formulario:focus,
        .submit-formulario:hover {
            opacity: .7;
        }
    
    </style>
