<h1>Alterar Publicação</h1>

<form method="post" action="?pagina=admin&metodo=update">
    <input 
        type="text" 
        name="titulo"
        placeholder="titulo da publicação"
        value="{{titulo}}"
    >

    <textarea 
        type="text" 
        name="conteudo" 
        placeholder="digite o novo texto aqui..."
        cols="55"
        rows="15"    
    >
    {{conteudo}}
    </textarea>

    <input type="hidden" name="id" value="{{id}}"> 

    <input type="submit" value="Alterar">
    
</form>