* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #6495ed;
}

#corpo {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

#topo {
    padding: 20px 25px;
    border-bottom: 2px solid #ccc;
}

#topo a {
    color: #6495ed;
    text-decoration: none;
    font-size: 20px;
    transition: all .4s ease 0s;
}

#topo a:hover,
#topo a:focus {
    opacity: .7;
}

.admin {
    float: right;
    font-weight: bold;
    font-size: .5rem;
    color: wheat;
}

.admin-span {
    padding: .7rem;
    background: #6495ed;
    border-radius: 1.2rem;
    color: white;
}

#conteudo {
    padding: 20px 25px;
    min-height: 100vh;
}

#conteudo article {
    margin-bottom: 20px;
}

#conteudo article h2 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
}

#conteudo header h2 {
    font-size: 3.1rem;
    text-align: center;
    color: #e47e3a;
    padding: 3.1rem;
}

#conteudo .texto-conteudo {
    font-size: 1.1rem;
    line-height: 1.9rem;
    letter-spacing: .10rem;
}

#conteudo article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    letter-spacing: 1px;
    padding: 2.7rem;
    text-align: justify;
}

#conteudo article a {
    text-decoration: none;
    color: #6495ed;
    display: block;
    transition: all .4s ease-in-out 0s;
}

#conteudo article a:hover {
    font-size: 40px;
    letter-spacing: 1px;
    border-right: 250px solid #e47e3a;
    border-radius: 50px;
}
